@import "icons.css";
@import "radiobuttons.css";

:root {
  --main-font: 'Neucha', sans-serif;
  --heading-font: 'Kurale', serif;

  --main-font-letter-spacing: 0.05em;
  --heading-font-letter-spacing: 0.01em;

  --page-bg: #f0ebe7;
  --text-fg: #261c2c;
}

body {
  margin: 0;

  background-color: var(--page-bg);
  color: var(--text-fg);

  font: 18px var(--main-font);
  letter-spacing: var(--main-font-letter-spacing);
}

.main {
  max-width: 780px;
  margin: 0 auto;
}

.page-section {
  margin: 48px 0;
}

.page-section__heading {
  font-family: var(--heading-font);
  letter-spacing: var(--heading-font-letter-spacing);
}

/* Overview */

.resource-item {
  display: flex;
  margin: 12px 0;
}

.resource-item__stats {
  margin-left: auto;
}

/* Progress bar */

.progress {
  height: 16px;
  margin-top: 26px;
  display: flex;
  overflow: hidden;

  border: 2px solid var(--text-fg);
  border-top-width: 1.6px;
  border-radius: 200px 35px 100px 30px/12px 60px 10px 60px;
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.5);
  background-image: linear-gradient(to right, #4d3c56, #de7b4c 90%);

  transform: rotate(-0.1deg);
}

.progress__neg-value {
  height: 100%;
  margin-left: auto;

  border-bottom-left-radius: 16px 30px;
  background-color: var(--page-bg);
}

/* Stage note */

.stage-note {
  border: solid var(--text-fg);
  border-width: 2px 3px 3px 2px;
  border-radius: 95% 10% 92% 1%/6% 5% 4% 95%;
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.5);
  background-color: #fbfaf9;
  transform: rotate(-0.2deg);
}

.stage-note__heading,
.stage-note__text {
  transform: rotate(-0.2deg);
}

.stage-note__heading {
  margin: 24px;
  font-size: 22px;
  font-weight: bold;
}

.stage-note__body {
  display: flex;
  margin: 24px;
}

.stage-note__heart {
  margin-left: auto;
}

/* Hearts */

.heart {
  display: inline-block;
  height: 20px;
  width: 20px;
  background: #d2c3d5;
  transition: background .2s ease-in-out;
  
  &:hover {
    cursor: pointer;
    background: #896893;
  }
}

.heart.set {
  background: #e5ab94;

  &:hover {
    background: #cc6133;
  }
}
