@import "icons.css";
@import "header.css";
@import "radiobuttons.css";
@import "forms.css";
@import "mobile.css";

:root {
  --main-font: 'Neucha', sans-serif;
  --heading-font: 'Kurale', serif;
  --logo-font: 'Gloria Hallelujah';

  --main-font-letter-spacing: 0.05em;
  --heading-font-letter-spacing: 0.01em;
  --logo-font-letter-spacing: 0;

  --page-bg: #f0ebe7;
  --standout-bg: #fbfaf9;
  --text-fg: #261c2c;

  --heart-bg: #d2c3d5;
  --heart-set-bg: #896893;

  --input-active-fg: #265973;
}

body {
  margin: 0;

  background-color: var(--page-bg);
  color: var(--text-fg);
}

body, .input, .button {
  font: 18px var(--main-font);
  letter-spacing: var(--main-font-letter-spacing);
}

.loading {
  height: 100vh;
  background: url('/assets/Witch.png') no-repeat center center / contain;
  animation: fade-in .5s forwards;
}

@keyframes fade-in {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.content {
  max-width: 780px;
  margin: 0 auto;
  margin-bottom: 24px;
}

.heading {
  font-family: var(--heading-font);
  letter-spacing: var(--heading-font-letter-spacing);
  margin: 36px 0 28px;
}

.page-section {
  margin: 48px 0;

  &:first-child {
    margin-top: 0;
  }
}

.page-section-header {
  display: flex;
  align-items: center;
  margin: 28px 0;
}

.page-section-header__icon {
  width: 60px;
  height: 60px;
  display: inline-block;
  background-size: contain;
}

.page-section-header__text {
  font: 28px var(--heading-font);
  font-weight: bold;
  letter-spacing: var(--heading-font-letter-spacing);
  margin-left: 12px;
}

.page-section-header__text--large {
  font-size: 34px;
}

/* Overview */

.resource-item {
  display: flex;
  margin: 12px 0;
}

.resource-item__stats {
  margin-left: auto;
}

/* Progress bar */

.progress {
  height: 16px;
  margin-top: 26px;
  display: flex;
  overflow: hidden;

  border: 2px solid var(--text-fg);
  border-top-width: 1.6px;
  border-radius: 200px 35px 100px 30px/12px 60px 10px 60px;
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.5);
  background-image: linear-gradient(to right, #4d3c56, #de7b4c 90%);

  transform: rotate(-0.1deg);
}

.progress__neg-value {
  height: 100%;
  margin-left: auto;

  border-bottom-left-radius: 16px 30px;
  background-color: var(--page-bg);
}

/* Stage note & heads-up message */

.heads-up, .stage-note {
  border: solid var(--text-fg);
  border-width: 2px 3px 3px 2px;
  border-radius: 95% 10% 92% 1%/6% 5% 4% 95%;
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.5);
  background-color: var(--standout-bg);
  transform: rotate(-0.2deg);
}

.stage-note__heading,
.stage-note__text {
  transform: rotate(-0.2deg);
}

.stage-note__heading {
  margin: 24px;
  font-size: 22px;
  font-weight: bold;
}

.stage-note__body {
  display: flex;
  margin: 24px;
}

.stage-note__heart {
  margin-left: auto;
}

.heads-up {
  display: flex;
}

.heads-up__main {
  padding: 24px;
}

.heads-up__side {
  margin: auto;
  margin-right: 24px;
}

/* Diary */

.diary-section-heading {
  line-height: 42px;
}

.diary-section-heading__text {
  font-weight: bold;
  margin-right: 6px;
}

.diary-section-heading__time {
  font-size: 16px;
}

.note {
  display: flex;
  margin: 16px 0;
}

.note__heart {
  margin-left: auto;
  width: 64px;
}

/* Hearts */

.heart {
  display: inline-block;
  height: 20px;
  width: 20px;
  background: var(--heart-bg);
  transition: background .2s ease-in-out;
  
  &:hover {
    cursor: pointer;
    background: var(--heart-set-bg);
  }
}

.heart.set, .heart.set:hover {
  background: var(--heart-set-bg);
}

.heart.set + .heart-count {
  color: var(--heart-set-bg);
}

.heart-count {
  display: inline-block;
  vertical-align: bottom;
  line-height: 26px;
  font-weight: bold;
  color: var(--heart-bg);
}

/* Owls */

.owl-heading {
  margin-bottom: 16px;
}

.owl-heading__name {
  margin-right: 6px;
  font-size: 22px;
  font-weight: bold;
}

.owl-heading__count {
  font-size: 16px;
  vertical-align: middle;
}

.owl {
  margin-bottom: 32px;
}

.owl, .owl__side {
  display: flex;
}

.owl__side {
  align-items: center;
  margin-left: auto;
}

/* Pagination */

.pagination {
  margin: 24px;
  text-align: center;
}

.page-break {
  background: url('/assets/wand.png') no-repeat center / auto 40px;
  margin: 32px auto;
  max-width: 320px;
  height: 40px; 
}

/* Filter list */

.filter-list {
  transform: rotate(-0.4deg);

  & > li {
    margin: 6px 0;
  }
}

/* Vue animations */

.fade-enter-active, .fade-leave-active {
  transition: opacity .3s ease-in-out;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}
