.radiobutton__label {
	cursor: pointer;
	position: relative;
  margin-right: 15px;
}

.radiobutton__input {
	opacity: 0; /* hidden but still tabable */
	position: absolute;
}

.radiobutton__button {
  display: inline-flex;
  justify-content: center;
  align-items: center;

	color: #000000;
  border: 1px solid black;
	border-radius: 50%;
  width: 36px;
  height: 36px;
  margin-top: 10px;
  margin-bottom: 10px;
  
  transition: background .2s ease-in-out;

  &:hover {
    background-color: #e5ab94;
  }
}

.radiobutton__icon {
  display: inline-block;
  height: 32px;
  width: 32px;
  background: black; /*icon color*/
  /*transform: translateX(8%) translateY(3%);*/
}

.radiobutton__input:checked + .radiobutton__button {
	color: #D9E7FD;
  background-color: #bada55;
}

.radiobutton__input:focus + .radiobutton__button {
	color: #fff;
}
